body{
   background-color: #3282B8;
   box-sizing: border-box;
}
.inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#BBE1FA;
}
.button{
    border-color:#0F4C75 ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
